    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block; }

body {
  line-height: 1; }

ol,
ul {
  list-style: none; }

blockquote,
q {
  quotes: none; }

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

body {
  font-family: 'Dosis', sans-serif;
  color: whitesmoke; }

h2 {
  font-weight: 400;
  color: whitesmoke;
  font-size: 4rem;
  font-variant: small-caps; }

h3 {
  font-weight: 300;
  color: whitesmoke;
  font-size: 2rem;
  margin: 1rem; }

span {
  font-weight: bold; }

.menu div:first-child {
  text-align: center;
  padding: 0rem; }
  .menu div:first-child h1 {
    padding: 1rem;
    font-family: 'Pacifico', Courier New, Courier, monospace;
    font-size: 2rem;
    color: #B9121B; }
.menu .navbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  padding: 0rem 0rem;
  margin: 0rem;
  font-weight: lighter;
  font-size: 1.0rem;
  background-color: whitesmoke;
  text-align: center; }
  .menu .navbar a {
    padding: 0.5rem;
    color: #3c3c3c; }
  .menu .navbar a:nth-child(1) {
    border-bottom: solid 0.3rem #B9121B; }
  .menu .navbar a:nth-child(2) {
    border-bottom: solid 0.3rem #3E6E1D; }
  .menu .navbar a:nth-child(3) {
    border-bottom: solid 0.3rem #25064C; }
  .menu .navbar a:nth-child(4) {
    border-bottom: solid 0.3rem #702E17; }
  .menu .navbar h1 {
    text-align: right;
    color: #3c3c3c;
    margin: 1rem;
    font-weight: 400; }

.wrapper main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column wrap;
          flex-flow: column wrap; }
  .wrapper main .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column nowrap;
            flex-flow: column nowrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .about section:nth-child(1) {
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
      .wrapper main .about section:nth-child(1) .imagen {
        margin: 0;
        padding: 0;
        background: url(../img/imgAbout.jpg) repeat fixed center;
        background-size: cover;
        height: 100vh; }
    .wrapper main .about section:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #4C1B1B;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      padding: 3rem;
      text-align: center; }
    .wrapper main .about section:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      background-color: #B9121B;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
  .wrapper main .creation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .creation h3 {
      color: #3E6E1D; }
    .wrapper main .creation section:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #3E6E1D; }
    .wrapper main .creation section:nth-child(2) .imagen {
      background: url(../img/imgAbout1.jpg) repeat fixed center;
      background-size: cover;
      height: 100vh; }
    .wrapper main .creation section:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      background-color: whitesmoke;
      color: #3c3c3c;
      text-align: right;
      padding: 3rem; }
  .wrapper main .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .portfolio section:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: whitesmoke;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 3rem;
      text-align: center; }
      .wrapper main .portfolio section:nth-child(1) h3 {
        color: #25064C; }
      .wrapper main .portfolio section:nth-child(1) p {
        color: #3c3c3c; }
      .wrapper main .portfolio section:nth-child(1) a {
        font-size: 1.5rem;
        color: #25064C; }
    .wrapper main .portfolio section:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #25064C;
      color: whitesmoke;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
  .wrapper main .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-flow: column wrap;
            flex-flow: column wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .contact section:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: #702E17;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2;
      padding: 2rem;
      text-align: center; }
    .wrapper main .contact section:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #481B15;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .wrapper main .contact section:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #702E17;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3;
      padding: 2rem; }
      .wrapper main .contact section:nth-child(3) small {
        font-size: 0.8rem; }

@media (min-width: 768px) {
  .menu div:first-child {
    text-align: right;
    padding: 0rem; }
    .menu div:first-child h1 {
      padding: 1rem;
      font-family: 'Pacifico', Courier New, Courier, monospace;
      font-size: 3rem;
      color: #B9121B; }
  .menu .navbar {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    padding: 0rem 1rem;
    margin: 0rem;
    font-weight: lighter;
    font-size: 1.5rem;
    background-color: whitesmoke; }
    .menu .navbar a {
      -webkit-box-flex: 0;
          -ms-flex: 0 1 auto;
              flex: 0 1 auto;
      padding: 1rem;
      color: #3c3c3c; }
    .menu .navbar a:nth-child(1) {
      border-bottom: solid 0.5rem #B9121B; }
    .menu .navbar a:nth-child(2) {
      border-bottom: solid 0.5rem #3E6E1D; }
    .menu .navbar a:nth-child(3) {
      border-bottom: solid 0.5rem #25064C; }
    .menu .navbar a:nth-child(4) {
      border-bottom: solid 0.5rem #702E17; }
    .menu .navbar h1 {
      -webkit-box-flex: 1;
          -ms-flex: 1 1 auto;
              flex: 1 1 auto;
      text-align: right;
      color: #3c3c3c;
      margin: 2rem 0rem;
      font-size: 1rem;
      font-weight: 700; }

  .wrapper main .about {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch; }
    .wrapper main .about section:nth-child(1) {
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
      .wrapper main .about section:nth-child(1) .imagen {
        background: url(../img/imgAbout.jpg) repeat fixed right; }
    .wrapper main .about section:nth-child(2) {
      background-color: #4C1B1B;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .wrapper main .about section:nth-child(3) {
      background-color: #B9121B;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
  .wrapper main .creation {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .creation h3 {
      color: #3E6E1D; }
    .wrapper main .creation section:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: end;
          -ms-flex-pack: end;
              justify-content: flex-end;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #3E6E1D; }
    .wrapper main .creation section:nth-child(2) .imagen {
      background: url(../img/imgAbout1.jpg) repeat fixed center; }
    .wrapper main .creation section:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: end;
          -ms-flex-align: end;
              align-items: flex-end;
      background-color: whitesmoke;
      color: #3c3c3c;
      text-align: right; }
  .wrapper main .portfolio {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    height: 20rem;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .portfolio h3 {
      color: #25064C; }
    .wrapper main .portfolio section:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: whitesmoke;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1;
      text-align: left; }
      .wrapper main .portfolio section:nth-child(1) p {
        color: #3c3c3c; }
      .wrapper main .portfolio section:nth-child(1) a {
        font-size: 1.5rem;
        color: #25064C; }
    .wrapper main .portfolio section:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #25064C;
      color: whitesmoke;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
  .wrapper main .contact {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-flow: row wrap;
            flex-flow: row wrap;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center; }
    .wrapper main .contact section:nth-child(1) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: start;
          -ms-flex-align: start;
              align-items: flex-start;
      background-color: #702E17;
      -webkit-box-ordinal-group: 2;
          -ms-flex-order: 1;
              order: 1; }
    .wrapper main .contact section:nth-child(2) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #481B15;
      -webkit-box-ordinal-group: 3;
          -ms-flex-order: 2;
              order: 2; }
    .wrapper main .contact section:nth-child(3) {
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
          -ms-flex-direction: column;
              flex-direction: column;
      -webkit-box-pack: center;
          -ms-flex-pack: center;
              justify-content: center;
      -webkit-box-align: center;
          -ms-flex-align: center;
              align-items: center;
      background-color: #702E17;
      -webkit-box-ordinal-group: 4;
          -ms-flex-order: 3;
              order: 3; }
      .wrapper main .contact section:nth-child(3) small {
        font-size: 0.8rem; } }
@media (min-width: 992px) {
  .wrapper main .about section:nth-child(1) .imagen {
    background: url(../img/imgAbout.jpg) repeat fixed left; } }

/*# sourceMappingURL=estilos.css.map */