    /* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

    html,
    body,
    div,
    span,
    applet,
    object,
    iframe,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    blockquote,
    pre,
    a,
    abbr,
    acronym,
    address,
    big,
    cite,
    code,
    del,
    dfn,
    em,
    img,
    ins,
    kbd,
    q,
    s,
    samp,
    small,
    strike,
    strong,
    sub,
    sup,
    tt,
    var,
    b,
    u,
    i,
    center,
    dl,
    dt,
    dd,
    ol,
    ul,
    li,
    fieldset,
    form,
    label,
    legend,
    table,
    caption,
    tbody,
    tfoot,
    thead,
    tr,
    th,
    td,
    article,
    aside,
    canvas,
    details,
    embed,
    figure,
    figcaption,
    footer,
    header,
    hgroup,
    menu,
    nav,
    output,
    ruby,
    section,
    summary,
    time,
    mark,
    audio,
    video {
        margin: 0;
        padding: 0;
        border: 0;
        font-size: 100%;
        font: inherit;
        vertical-align: baseline;
    }
    /* HTML5 display-role reset for older browsers */

    article,
    aside,
    details,
    figcaption,
    figure,
    footer,
    header,
    hgroup,
    menu,
    nav,
    section {
        display: block;
    }

    body {
        line-height: 1;
    }

    ol,
    ul {
        list-style: none;
    }

    blockquote,
    q {
        quotes: none;
    }

    blockquote:before,
    blockquote:after,
    q:before,
    q:after {
        content: '';
        content: none;
    }

    table {
        border-collapse: collapse;
        border-spacing: 0;
    } // Mixins
    @mixin misHelper($color) {
        border: solid 2px $color;
    }

    @mixin tituloPrimario {
        font-weight: 400;
        color: whitesmoke;
        font-size: 4rem;
        font-variant: small-caps;
    }

    @mixin tituloSecundario {
        font-weight: 300;
        color: whitesmoke;
        font-size: 2rem;
        margin: 1rem;
    } // DEFINIENDO COLORES;
    $textosParrafos: #3c3c3c;
    $rojo1: #B9121B;
    $rojo2 :#4C1B1B;
    $blanco: whitesmoke;
    $verde:#3E6E1D;
    $morado: #25064C;
    $cafe1:#702E17;
    $cafe2: #481B15; // mis estilos
    body {
        font-family: 'Dosis', sans-serif;
        color: $blanco;
    }

    h2 {
        @include tituloPrimario;
    }

    h3 {
        @include tituloSecundario;
    }

    span {
        font-weight: bold;
    } // layout
    .menu {
        div:first-child {
            text-align: center;
            padding: 0rem;
            h1 {
                padding: 1rem;
                font-family: 'Pacifico', Courier New, Courier, monospace;
                font-size: 2rem;
                color: $rojo1;
            }
        }
        .navbar {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            padding: 0rem 0rem;
            margin: 0rem;
            font-weight: lighter;
            font-size: 1.0rem;
            background-color: $blanco;
            text-align: center;
            a {
                padding: 0.5rem;
                color: $textosParrafos;
            }
            a:nth-child(1) {
                border-bottom: solid 0.3rem $rojo1;
            }
            a:nth-child(2) {
                border-bottom: solid 0.3rem $verde;
            }
            a:nth-child(3) {
                border-bottom: solid 0.3rem $morado;
            }
            a:nth-child(4) {
                border-bottom: solid 0.3rem $cafe1;
            }
            h1 {
                text-align: right;
                color: $textosParrafos;
                margin: 1rem;
                font-weight: 400;
            }
        }
    } // FINALIZANDO MENU
    .wrapper {
        main {
            display: flex;
            flex-flow: column wrap;
            .about {
                display: flex;
                flex-flow: column nowrap;
                justify-content: center;
                section:nth-child(1) {
                    order: 2;
                    .imagen {
                        margin: 0;
                        padding: 0;
                        background: url(../img/imgAbout.jpg) repeat fixed center;
                        background-size: cover;
                        height: 100vh;
                    }
                }
                section:nth-child(2) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $rojo2;
                    order: 3;
                    padding: 3rem;
                    text-align: center;
                }
                section:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    background-color: $rojo1;
                    order: 1;
                }
            } // <!-- finalizando about -->
            .creation {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                h3 {
                    color: $verde;
                }
                section:nth-child(1) {
                    display: flex;
                    justify-content: flex-end;
                    align-items: center;
                    background-color: $verde;
                }
                section:nth-child(2) {
                    .imagen {
                        background: url(../img/imgAbout1.jpg) repeat fixed center;
                        background-size: cover;
                        height: 100vh;
                    }
                }
                section:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-end;
                    background-color: $blanco;
                    color: $textosParrafos;
                    text-align: right;
                    padding: 3rem;
                } // <!-- finalizando creation -->
            }
            .portfolio {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                section:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    background-color: $blanco;
                    order: 2;
                    padding: 3rem;
                    text-align: center;
                    h3 {
                        color: $morado;
                    }
                    p {
                        color: $textosParrafos;
                    }
                    a {
                        font-size: 1.5rem;
                        color: $morado;
                    }
                }
                section:nth-child(2) {
                    display: flex;
                    align-items: center;
                    background-color: $morado;
                    color: $blanco;
                    order: 1;
                }
            } // <!-- finalizando portfolio -->
            .contact {
                display: flex;
                flex-flow: column wrap;
                justify-content: center;
                section:nth-child(1) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: flex-start;
                    background-color: $cafe1;
                    order: 2;
                    padding: 2rem;
                    text-align: center;
                }
                section:nth-child(2) {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    background-color: $cafe2;
                    order: 1;
                }
                section:nth-child(3) {
                    display: flex;
                    flex-direction: column;
                    justify-content: center;
                    align-items: center;
                    background-color: $cafe1;
                    order: 3;
                    padding: 2rem;
                    small {
                        font-size: 0.8rem;
                    }
                }
            }
        }
    } // Small devices (landscape phones, 576px and up)
    @media (min-width: 576px) {}

    // Medium devices (tablets, 768px and up)
    @media (min-width: 768px) {
        .menu {
            div:first-child {
                text-align: right;
                padding: 0rem;
                h1 {
                    padding: 1rem;
                    font-family: 'Pacifico', Courier New, Courier, monospace;
                    font-size: 3rem;
                    color: $rojo1;
                }
            }
            .navbar {
                display: flex;
                flex-direction: row;
                justify-content: flex-start;
                align-items: flex-end;
                padding: 0rem 1rem;
                margin: 0rem;
                font-weight: lighter;
                font-size: 1.5rem;
                background-color: $blanco;
                a {
                    flex: 0 1 auto;
                    padding: 1rem;
                    color: $textosParrafos;
                }
                a:nth-child(1) {
                    border-bottom: solid 0.5rem $rojo1;
                }
                a:nth-child(2) {
                    border-bottom: solid 0.5rem $verde;
                }
                a:nth-child(3) {
                    border-bottom: solid 0.5rem $morado;
                }
                a:nth-child(4) {
                    border-bottom: solid 0.5rem $cafe1;
                }
                h1 {
                    flex: 1 1 auto;
                    text-align: right;
                    color: $textosParrafos;
                    margin: 2rem 0rem;
                    font-size: 1rem;
                    font-weight: 700;
                }
            }
        } // finalizando Menu
        .wrapper {
            main {
                .about {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    align-items: stretch;
                    section:nth-child(1) {
                        .imagen {
                            background: url(../img/imgAbout.jpg) repeat fixed right;
                        }
                        order: 1;
                    }
                    section:nth-child(2) {
                        background-color: $rojo2;
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        order: 2;
                    }
                    section:nth-child(3) {
                        background-color: $rojo1;
                        display: flex;
                        align-items: center;
                        order: 3;
                    }
                } // <!-- finalizando about -->
                .creation {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    h3 {
                        color: $verde;
                    }
                    section:nth-child(1) {
                        display: flex;
                        justify-content: flex-end;
                        align-items: center;
                        background-color: $verde;
                    }
                    section:nth-child(2) {
                        .imagen {
                            background: url(../img/imgAbout1.jpg) repeat fixed center;
                        }
                    }
                    section:nth-child(3) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-end;
                        background-color: $blanco;
                        color: $textosParrafos;
                        text-align: right,
                    }
                } // <!-- finalizando creation -->
                .portfolio {
                    display: flex;
                    flex-flow: row wrap;
                    height: 20rem;
                    justify-content: center;
                    h3 {
                        color: $morado;
                    }
                    section:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        background-color: $blanco;
                        order: 1;
                        text-align: left;
                        p {
                            color: $textosParrafos;
                        }
                        a {
                            font-size: 1.5rem;
                            color: $morado;
                        }
                    }
                    section:nth-child(2) {
                        display: flex;
                        align-items: center;
                        background-color: $morado;
                        color: $blanco;
                        order: 2;
                    }
                } // <!-- finalizando portfolio -->
                .contact {
                    display: flex;
                    flex-flow: row wrap;
                    justify-content: center;
                    section:nth-child(1) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: flex-start;
                        background-color: $cafe1;
                        order: 1;
                    }
                    section:nth-child(2) {
                        display: flex;
                        justify-content: center;
                        align-items: center;
                        background-color: $cafe2;
                        order: 2;
                    }
                    section:nth-child(3) {
                        display: flex;
                        flex-direction: column;
                        justify-content: center;
                        align-items: center;
                        background-color: $cafe1;
                        order: 3;
                        small {
                            font-size: 0.8rem;
                        }
                    }
                }
            }
        }
    } // Large devices (desktops, 992px and up)
    @media (min-width: 992px) {
        .wrapper {
            main {
                .about {
                    section:nth-child(1) {
                        .imagen {
                            background: url(../img/imgAbout.jpg) repeat fixed left;
                        }
                    }
                } // <!-- finalizando about -->
            }
        } // 
    }